<h1>Log In Form</h1>
	<form name="userForm" novalidate>
			 		<div class="input group">
				 		<div class="row">
					 		<div class="col-lg-6">
						 		<div>
						 			Name:
							 		<input type="text" 
										   ng-model="vm.user.name" 
										   name="uName" 
										   required />
										<span class="glyphicon glyphicon-question-sign" 
											  uib-popover="First and Last Name should be entered."
											  popover-trigger="mouseenter">
										</span>
										<span class="caution" 
										 	  ng-show="userForm.uName.$touched && userForm.uName.$error.required">Complete Name is required.
										</span>		
								</div>
								<div>
									Email: 
									<input type="email" 
										   ng-model="vm.user.email" 
										   name="uEmail" 
										   required>
										<span class="glyphicon glyphicon-question-sign" 
											  uib-popover="Ex: johnsmith@gmail.com"
											  popover-trigger="mouseenter">
										</span>
										<span class="caution" 
											  ng-show="userForm.uEmail.$touched && userForm.uEmail.$error.required">Valid Email address is required.
								 		</span>
								</div>
								<div>
									Cash: 
									<input type="number" 
										   ng-model="vm.user.cash" 
										   name="uCash"
										   min="1"
										   max="10000">
										<span class="glyphicon glyphicon-question-sign" 
											  uib-popover="Value must be between 1 to 10,000."
											  popover-trigger="mouseenter">
										</span>
										<span class="caution" 
											  ng-show="userForm.uCash.$error.min && userForm.uCash.$error.max">
										</span>
								</div>
								<!-- TODO: datepicker <div>
									Date:
        										<input type="text" 
        											   class="form-control" 
        											   uib-datepicker-popup="{{vm.format}}" 
        											   ng-model="vm.dt" 
        											   is-open="vm.popup.opened" 
        											   datepicker-options="vm.dateOptions" 
        											   ng-required="true" 
        											   close-text="Close">
										         <span class="input-group-btn">
										            <button type="button" 
												            class="btn btn-default" 
												            ng-click="vm.open()">
										            		<i class="glyphicon glyphicon-calendar"></i>
										            </button>
										         </span>
										   
								</div> -->
								
								<div class="col-lg-2">
									<button type="button" 
									 		class="btn btn-primary" 
									 		ng-click="vm.validateForm()"
									 		ng-disabled="userForm.$invalid">Submit
									</button>
								</div>
							</div>
						</div>
					</div>
	</form>