<h1>Log In Form</h1>
	<form name="userForm" novalidate>
			 		<div class="input group">
				 		<div class="row">
					 		<div class="col-lg-6">
						 		<div>
							 		Name: 
							 		<input type="text" 
							 			   ng-model="vm.user.name" 
							 			   name="uName" 
							 			   required>
								 		<span class="caution" ng-show="userForm.uName.$touched && userForm.uName.$error.required">Complete Name is required.
								 		</span>
								</div>
								<div>
									Email: 
									<input type="email" 
										   ng-model="vm.user.email" 
										   name="uEmail" 
										   required>
										<span class="caution" ng-show="userForm.uEmail.$touched && userForm.uEmail.$error.required">Valid Email address is required.
								 		</span>
								</div>
								<div>
									Cash: 
									<input type="number" 
										   ng-model="vm.user.cash" 
										   name="uCash"
										   min="1"
										   max="10000">
												<span class="caution" ng-show="userForm.uCash.$error.min && userForm.uCash.$error.max">Value must be between 1 to 10,000!</span>
								</div>
								<div class="col-lg-2">
									<button type="button" 
									 		class="btn btn-primary" 
									 		ng-click="vm.validateForm()"
									 		ng-disabled="userForm.$invalid">Submit
									</button>
								</div>
							</div>
						</div>
					</div>
	</form>