<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

</head>
<body>
	<div ng-app="chamApp" 
		 ng-controller="chamController as vm">
		 <h1>Things To Do</h1>
		 	<form name="toDoForm" novalidate>
			 	<div class="input group">
			 		<div class="row">
				 		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
				 				<input type="text" 
				 					   class="form-control" 
				 					   ng-model="vm.thingsTodo">
				 		</div>
				 		<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
				 			<button type="button" 
				 					class="btn btn-primary" 
				 					ng-click="vm.addNewTodo()">Button
				 			</button>
				 		</div>
			 		</div>
			 		<label>List of Things To Do</label>
			 			<div class="input group">
							<div ng-repeat="activity in vm.checkList">
					 			<div class="row">
				 					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
				 						{{activity}}
				 					</div>
				 					<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">

						 				<button type="button" 
						 						class="btn btn-default"
						 						ng-click="vm.deleteTodo($index)">Delete
						 				</button>
						 			</div>
					 			</div>
					 			<br>
							</div>
			 			</div>
			 	</div>
		 	</form>	
	</div>

<script src="app.js"></script>
<script src="controller.js"></script>
</body>
</html>