<h1>Things To Do</h1>
			 	<form name="toDoForm" novalidate>
				 	<div class="input group">
				 		<div class="row">
					 		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
					 				<input type="text" 
					 					   class="form-control" 
					 					   ng-minlength="3" 
					 					   ng-maxlength="15"
					 					   name="writeToDo"
					 					   ng-model="vm.thingsTodo" required>
					 		</div>
					 		<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
					 			<button type="button" 
					 					class="btn btn-primary" 
					 					ng-click="vm.addNewTodo()"
					 					ng-disabled="toDoForm.$invalid">Button
					 			</button>
					 		</div>
					 		<div class="error" ng-show="toDoForm.writeToDo.$dirty && toDoForm.writeToDo.$error.maxlength">
					 			<span>EXCEEDS REQUIRED LETTERS.</span>
					 		</div>
					 		<div class="error" ng-show="toDoForm.writeToDo.$dirty && toDoForm.writeToDo.$error.minlength">
					 			<span>NOT ENOUGH LETTERS!</span>
					 		</div>
				 		</div>
				 		<br>
				 		<label>List of Things To Do</label>
				 			<div class="input group">
								<div ng-repeat="activity in vm.checkList">
						 			<div class="row">

					 					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
					 						{{ activity }}
					 					</div>
					 					<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">

							 				<button type="button" 
							 						class="btn-danger"
							 						ng-click="vm.deleteTodo($index)">Delete
							 				</button>
							 				
							 			</div>
						 			</div>
						 			<br>
								</div>
				 			</div>
				 	</div>
				 	<div hovering="vm.hover()">I am a bird</div>

				 	<germs salmonella>What's making me sick?</germs>
				 	<br>
				 	<germs pseudomonas>What's making me sick?</germs>
				 	<br>
				 	<germs influenza>What's making me sick?</germs>
			 	</form>	
		