.scheduleDayButton {
  background-color: #40E0D0;
  padding: 5px;
  margin: 5px;
  width: 20px;
  display: block;
};

.scheduleNightButton {
  background-color: #FF4500;
  padding: 5px;
  margin: 5px;
  width: 20px;
  display: block;
};

.scheduleGraveyardButton {
  background-color: #DDA0DD;
  padding: 5px;
  margin: 5px;
  width: 20px;
  display: block;
};

.scheduleOffButton {
  background-color: #9ACD32;
  padding: 5px;
  margin: 5px;
  width: 20px;
  display: block;
};

.scheduleLeaveButton {
  background-color: #FFFF00;
  padding: 5px;
  margin: 5px;
  width: 20px;
  display: block;
};

.names {
  position: absolute;
  text-align: center;
  left: 50px;
}




