.btn1 {
  color : #000000;
  background-color: #20B2AA;
  width: 40px;
  padding: 5px;
  margin: 5px;
  border-radius: 2px;
  font-size: 16px;
};
.btn2 {
  color : #000000;
  background-color: #DC143C;
  width: 40px;
  padding: 5px;
  margin: 5px;
  border-radius: 2px;
  font-size: 16px;
};
.btn3 {
  color : #000000;
  background-color: #7B68EE;
  width: 40px;
  padding: 5px;
  margin: 5px;
  border-radius: 2px;
  font-size: 16px;
};
.btn4 {
  color : #000000;
  background-color: #FFA500;
  width: 40px;
  padding: 5px;
  margin: 5px;
  border-radius: 2px;
  font-size: 16px;
};
.btn5 {
  color : #000000;
  background-color: #9ACD32;
  width: 40px;
  padding: 5px;
  margin: 5px;
  border-radius: 2px;
  font-size: 16px;
};

