<div class="modal-header">
  <h3 class="modal-title">August {{item.selectedDay.date}}, 2016 {{item.selectedDay.day}}</h3>
</div>
<div class="modal-body">
  <div ng-repeat="shift in item.shiftName">
    <li ng-class="getColor(shift.shortcut)"
        ng-click="chooseShift(shift.shortcut)">
      <span class="names">{{shift.title}}</span>
      {{shift.shortcut}}
    </span>

  </div>






</div>
<div ng-show="text">Your shift for today is {{text}}</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
  <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>




