<div class="modal-header">
  <h3 class="modal-title">August {{item[0].date}}, 2016 {{item[0].day}}</h3>
</div>
<div class="modal-body">
  {{item}}
  <ul ng-repeat="(key, val) in namesOfShift">
    {{val.shortcut}}
    <span>{{namesOfShift.title}}</span>
  </ul>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
  <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>
<div ng-show="vm.selected">{{vm.selected}}</div>



